<div class="modal fade" id="modal-subscribe" tabindex="-1" role="dialog" aria-labelledby="subscribe-modal-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <h1 class="logo">
                <img src="assets/images/findme-logo.png"><span class="text">FindMe</span>
            </h1>
            <p id="subscribe-modal-label" class="modal-title"></p>
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div><!--//modal-content-->
    </div><!--//modal-dialog-->
</div><!--//modal-->
