.top {
    margin-top: 100px;
}

.bottom {
    margin-top: 20px;
}

.text {
    color: #979797;
}

.code {
    font-size: 150px;
    text-align: center;
}

.error {
    font-size: 60px;
    text-transform: uppercase;
    text-align: center;
}

.error > div {
    font-size: 30px;
    text-transform: uppercase;
    text-align: center;
}

.message {
    text-align: center;
}

.links {
    text-align: center;
    margin-top: 20px;
}

.links a {
    color: #7645ad;
}

@media (min-width: 992px) {
    .pull-right-lg {
        float: right;
    }

    .pull-left-lg {
        float: left;
    }

    .error-padding {
        margin-top: 50px;
    }
}
